.container {
    display: flex;
    flex-wrap: wrap;
    background: steelblue;
    width: 100px;
}

.item {
    background: grey;
    min-height: 30px;
    min-width: 30px;
    border: 1px solid black;
    text-align: center;
}
